* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper {
   width:70%;
   margin:0 auto;
   margin-top:50px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 18px;
}

div span {
   font-weight: 700;
   color:blue;
}